generateDataFigure2_batch_QD655_2.asv
Process.asv
fig4-sm-emission-excitation-spectroscopy/generateDataFigure4_plotBlueingSpectra.asv
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/experimentSpectra_3lobe_QDot655_darkMode.eps
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/experimentSpectra_3lobe_QDot655_darkMode.fig
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/experimentSpectra_3lobe_QDot655_darkMode.png
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/experimentSpectra_3lobe_QDot655_lightMode.eps
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/experimentSpectra_3lobe_QDot655_lightMode.fig
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/experimentSpectra_3lobe_QDot655_lightMode.png
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing/blueingGif_lightmode.gif
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/blueingGif_darkmode.gif
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/blueingGif_lightmode.gif
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/experimentSpectra_3lobe_QDot655_darkMode.eps
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/experimentSpectra_3lobe_QDot655_darkMode.fig
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/experimentSpectra_3lobe_QDot655_darkMode.png
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/experimentSpectra_3lobe_QDot655_lightMode.eps
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/experimentSpectra_3lobe_QDot655_lightMode.fig
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 2 lobe/experimentSpectra_3lobe_QDot655_lightMode.png
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/blueingGif_darkmode.gif
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/blueingGif_lightmode.gif
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/experimentSpectra_3lobe_QDot655_darkMode.eps
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/experimentSpectra_3lobe_QDot655_darkMode.fig
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/experimentSpectra_3lobe_QDot655_darkMode.png
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/experimentSpectra_3lobe_QDot655_lightMode.eps
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/experimentSpectra_3lobe_QDot655_lightMode.fig
fig4-sm-emission-excitation-spectroscopy/simulated spectral blueing 3 lobe/experimentSpectra_3lobe_QDot655_lightMode.png
